# DirectoryIndex index.html /listing.html
ErrorDocument 404 /404.html

RewriteEngine on
RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
RewriteCond %{HTTP_HOST} ^www\.vincentrubinetti\.com$ [OR]
RewriteCond %{HTTP_HOST} ^vincerubinetti\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.vincerubinetti\.com$
RewriteRule ^/?$ "https\:\/\/vincentrubinetti\.com\/" [R=301,L]

<IfModule mod_autoindex.c>
  IndexOptions FancyIndexing
  IndexOptions HTMLTable
  IndexOptions SuppressDescription
  HeaderName /listing-header.html
  IndexOptions NameWidth=*
  IndexOptions Charset=UTF-8
  AddIcon /icons/folder.png ^^DIRECTORY^^
  AddIconByType /icons/audio.png audio/*
  AddIconByType /icons/pdf.png application/pdf
  AddIcon /icons/project.png .sib .mscz
  DefaultIcon /icons/file.png
</ifModule>
