{
  "plugins": [
    "prettier-plugin-astro",
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ],
  "importOrder": [
    "^vue",
    "^@[a-zA-Z]",
    "^[a-zA-Z]",
    "^@/",
    "^/",
    "^./",
    "^../"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "importAssertions"]
}
