@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

header,
section,
footer {
  padding: 60px max(40px, calc((100% - 1000px) / 2));
  z-index: 1;
}

section:nth-child(odd) {
  background: #fafafa;
}

section:nth-child(even) {
  background: #ffffff;
}

@layer base {
  header,
  footer {
    @apply bg-black text-white text-center;
  }

  header,
  section,
  footer {
    @apply flex justify-center items-center flex-col gap-2 w-full;
  }

  h3 {
    @apply text-xl font-medium text-neutral-400 text-center font-light;
  }

  a {
    @apply transition-default underline text-sky-600 hover:text-black duration-300;
  }

  button {
    @apply transition-default duration-300;
  }

  input,
  textarea {
    @apply transition-default py-2 px-4 max-w-full rounded-full no-underline text-neutral-700 bg-neutral-100;
  }

  p {
    @apply text-justify leading-8;
  }

  b {
    @apply font-semibold;
  }

  .button {
    @apply inline-flex justify-center items-center gap-2 py-2 px-4 max-w-full rounded-full no-underline border-2 border-neutral-200 hover:border-neutral-800 hover:bg-neutral-800 hover:text-white;
  }

  .button * {
    @apply text-neutral-800 transition-default duration-300;
  }

  .button span {
    @apply text-neutral-800;
  }

  .button:hover span {
    @apply text-neutral-100;
  }

  .button:hover i {
    @apply text-neutral-100;
  }

  .button:hover .fa-bandcamp {
    @apply text-teal-500;
  }

  .button:hover .fa-soundcloud {
    @apply text-orange-500;
  }

  .button:hover .fa-apple {
    @apply text-rose-500;
  }

  .button:hover .fa-spotify {
    @apply text-green-500;
  }

  .button:hover .fa-youtube {
    @apply text-red-500;
  }

  .button:hover .fa-twitter {
    @apply text-sky-500;
  }

  .button:hover .fa-steam {
    @apply text-sky-700;
  }

  .button:hover .fa-home {
    @apply text-sky-500;
  }

  .button:hover .fa-code {
    @apply text-rose-500;
  }

  .button:hover .fa-headphones {
    @apply text-orange-500;
  }

  .button:hover .fa-leaf {
    @apply text-green-500;
  }

  .button:hover .fa-music {
    @apply text-cyan-500;
  }

  .button:hover .fa-paper-plane {
    @apply text-sky-500;
  }

  .tippy-box {
    @apply py-3 px-5 bg-neutral-800 leading-7 rounded-lg;
  }

  .tippy-content {
    @apply p-0;
  }

  .tippy-arrow:before {
    @apply text-neutral-800;
  }
}
