@import "tailwindcss";
@import "../styles.css";

@theme {
  --width: --spacing(250);

  --color-light: hsl(10, 100%, 96%);
  --color-mid: hsl(330, 50%, 35%);

  --tl-corner: radial-gradient(black 0, black 100%, transparent) top left
    no-repeat;
  --tr-corner: radial-gradient(black 0, black 100%, transparent) top right
    no-repeat;
  --br-corner: radial-gradient(black 0, black 100%, transparent) bottom right
    no-repeat;
  --bl-corner: radial-gradient(black 0, black 100%, transparent) bottom left
    no-repeat;
}

@layer components {
  h2 {
    @apply w-full;

    &::after {
      @apply ml-4 h-0.5 grow opacity-10 content-[''];
      background-image: url("../assets/images/dash.svg");
    }
  }

  a {
    @apply text-mid;
  }
}

@utility button {
  @apply inline-flex items-center justify-center gap-2 p-4 font-sans text-current no-underline transition-all;
}

@utility paper {
  @apply relative z-0;

  &::before {
    @apply absolute inset-0 -z-10 opacity-10 content-[''];
    background-image: url("../assets/images/paper.svg");
  }
}

@utility highlight {
  @apply relative z-0;

  &::before {
    @apply bg-mid/25 absolute inset-0 -z-10 scale-x-0 -skew-x-90 transition-all content-[''];
  }

  &:hover::before {
    @apply scale-x-100 skew-x-0;
  }
}

@utility corners-4 {
  @apply relative z-0;

  &::after {
    @apply absolute inset-0 -z-10 border-2 border-current mask-size-[8px_8px]! transition-all content-[''] [mask:var(--tl-corner),var(--tr-corner),var(--br-corner),var(--bl-corner)];
  }

  &:hover::after {
    @apply mask-size-[50%_50%]!;
  }
}

@utility corners-2 {
  @apply relative z-0;

  &::after {
    @apply absolute inset-0 -z-10 border-2 border-current mask-size-[8px_8px]! transition-all content-[''] [mask:var(--tl-corner),var(--br-corner)];
  }
}

@utility corners-1 {
  @apply relative z-0;

  &::after {
    @apply absolute inset-0 -z-10 border-2 border-current mask-size-[8px_8px]! transition-all content-[''] [mask:var(--tl-corner)];
  }

  &:hover::after {
    @apply mask-size-[16px_16px]!;
  }
}

@utility slant {
  @apply relative z-0;

  &::before {
    @apply bg-light absolute inset-0 -z-10 -skew-y-2 content-[''];
  }
}
