@import "tailwindcss";
@import "@/styles.css";

@theme {
  --width: --spacing(250);

  --color-terracotta: hsl(10, 100%, 90%);
  --color-mint: hsl(160, 100%, 90%);
  --color-sky: hsl(200, 100%, 90%);

  --tl-corner: radial-gradient(black 0, black 100%, transparent) top left / 8px
    8px no-repeat;
  --tr-corner: radial-gradient(black 0, black 100%, transparent) top right / 8px
    8px no-repeat;
  --br-corner: radial-gradient(black 0, black 100%, transparent) bottom right /
    8px 8px no-repeat;
  --bl-corner: radial-gradient(black 0, black 100%, transparent) bottom left /
    8px 8px no-repeat;
}

@utility button {
  @apply relative z-0 inline-flex items-center justify-center gap-2 p-4 font-sans text-current no-underline transition-all;

  &::before {
    @apply bg-terracotta absolute inset-0 -z-10 scale-x-0 transition-all content-[''];
  }

  &:hover::before {
    @apply scale-x-100 -skew-5;
  }

  &::after {
    @apply absolute inset-0 border-2 border-current transition-all content-[''] [mask:var(--tl-corner),var(--tr-corner),var(--br-corner),var(--bl-corner)];
  }

  &:hover::after {
    @apply scale-95 mask-size-[12px_12px];
  }
}

@utility corners-2 {
  @apply relative;

  &::before {
    @apply border-marine absolute inset-0 border-2 transition-all content-[''] [mask:var(--tl-corner),var(--br-corner)];
  }
}

@utility corners-1 {
  @apply relative;

  &::before {
    @apply absolute inset-0 border-2 border-zinc-400 transition-all content-[''] [mask:var(--tl-corner)];
  }
}

@utility slant {
  @apply relative;

  &::before {
    @apply bg-terracotta absolute inset-0 -z-10 -skew-y-2 content-[''];
  }
}
