<div
  class="flex justify-center items-center flex-col md:flex-row gap-10"
  data-fade
>
  <img
    src="images/profile.jpg"
    class="max-w-56 max-h-56 rounded-full"
    alt=""
    loading="lazy"
  />
  <p class="flex-grow-1" data-fade>{{ site.data.about.description }}</p>
</div>

<div class="flex flex-wrap justify-center gap-5">
  {% for link in site.data.about.links %}
  <a href="{{ link.url }}" class="button" data-fade>
    <i class="{{ link.icon }}"></i>
    <span>{{ link.text }}</span>
  </a>
  {% endfor %}
</div>
