<div
  id="highlights_gallery"
  class="grid grid-cols-2 md:grid-cols-4 gap-5"
  role="tablist"
>
  {% for highlight in site.data.highlights %} {% assign src = "" %} {% if
  highlight.playlist %} {% capture src
  %}https://www.youtube.com/embed/videoseries?list={{ highlight.playlist
  }}&autoplay=1{% endcapture %} {% elsif highlight.video %} {% capture src
  %}https://www.youtube.com/embed/{{ highlight.video }}?autoplay=1{% endcapture
  %} {% endif %} {% assign id = highlight.title | split: " " | join: "_" |
  downcase %}

  <template>
    <iframe
      class="w-full"
      style="aspect-ratio: 16 / 9; min-height: 200px"
      src="{{ src }}"
      allowfullscreen
      title="Video player"
      loading="lazy"
      role="tabpanel"
      data-fade
    ></iframe>
    <h4 class="text-lg font-medium" data-fade>{{ highlight.title }}</h4>
    <p class="grid gap-h-5" style="grid-template-columns: 80px 1fr" data-fade>
      <b>Credits</b>
      <span class="text-left">
        {% include markdownify.html content=highlight.credits %}
      </span>
      <b>Genre</b>
      <span class="text-left">
        {% include markdownify.html content=highlight.genre %}
      </span>
    </p>
    <p data-fade>
      {% include markdownify.html content=highlight.description %}
    </p>
    <div class="flex flex-wrap gap-5">
      {% for link in highlight.links %}
      <a href="{{ link.url }}" class="button" data-fade>
        <i class="{{ link.icon }}"></i>
        <span>{{ link.text }}</span>
      </a>
      {% endfor %}
    </div>
  </template>

  <button
    id="highlights_button_{{ id }}"
    class="group relative overflow-hidden"
    onclick="selectHighlights(this, event)"
    data-fade
    role="tab"
    aria-controls="highlights_player"
    aria-label="{{ highlight.title }}"
  >
    <img src="{{ highlight.image }}" alt="" loading="lazy" />
    <span
      class="absolute inset-0 flex justify-center items-center p-5 bg-black text-white font-medium opacity-0 group-hover:opacity-100 group-focus:opacity-100 transition-default duration-300"
    >
      {{ highlight.title }}
    </span>
  </button>
  {% endfor %}
</div>

<hr />

<div id="highlights_player" class="flex flex-col gap-5"></div>

<script type="module">
  // get dom elements
  const player = document.getElementById("highlights_player");
  const gallery = document.getElementById("highlights_gallery");
  const buttons = gallery.querySelectorAll("button");

  // show contents of template before button in player frame
  window.selectHighlights = (button, event) => {
    buttons.forEach((button) => button.setAttribute("aria-selected", false));

    // if user clicked
    if (event.isTrusted) {
      player.innerHTML = button.previousElementSibling.innerHTML;
      const options = { behavior: "smooth", block: "start" };
      player.previousElementSibling.scrollIntoView(options);
    }
    // if javascript clicked
    else {
      player.innerHTML = button.previousElementSibling.innerHTML.replaceAll(
        "autoplay=1",
        ""
      );
    }

    player.setAttribute("aria-labelledby", button.id);
    button.setAttribute("aria-selected", true);
  };

  // select first highlights by default
  buttons[0].click();
</script>
