<div
  id="listen_buttons"
  class="grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 xl:grid-cols-6 gap-5"
  role="tablist"
>
  {% for playlist in site.data.listen.playlists %}
  <button
    id="listen_button_{{ playlist.title | split: ' ' | join: '_' | downcase }}"
    class="button border-transparent"
    onclick="setPlaylist('{{ playlist.id }}', this)"
    data-fade
    role="tab"
    aria-controls="listen_player"
  >
    {{ playlist.title }}
  </button>
  {% endfor %}
</div>

<div id="listen_player" role="tabpanel" style="margin-top: -10px">
  <iframe
    class="w-full h-96"
    title="Music player"
    loading="lazy"
    data-fade
  ></iframe>
</div>

<div
  class="grid justify-center items-center grid-cols-1 sm:flex flex-wrap gap-5"
>
  <a
    href="{{ site.data.listen.link.url }}"
    class="button"
    data-fade
    data-tooltip="{% include markdownify.html content=site.data.listen.link.tooltip %}"
    aria-label="{{ site.data.listen.link.text }} - {{ site.data.listen.link.tooltip | markdownify | strip_html }}"
  >
    <i class="{{ site.data.listen.link.icon }}"></i>
    <span>{{ site.data.listen.link.text }}</span>
  </a>
</div>

<script type="module">
  // get dom elements
  const player = document.querySelector("#listen_player iframe");
  const buttons = document.querySelectorAll("#listen_buttons button");

  // set selected playlist
  window.setPlaylist = (playlist, button) => {
    buttons.forEach((button) => {
      button.style.borderColor = "";
      button.setAttribute("aria-selected", false);
    });
    player.src = `https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/${playlist}&amp;color=ff5500&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false`;
    button.style.borderColor = "black";
    player.setAttribute("aria-labelledby", button.id);
    button.setAttribute("aria-selected", true);
    player.focus();
  };

  // select first playlist by default
  buttons[0].click();
</script>
