<canvas
  id="waves"
  class="absolute inset-0 w-full h-full max-w-xl mx-auto opacity-40"
></canvas>
<!-- overlay -->
<div
  class="absolute inset-0 w-full h-full max-w-xl mx-auto"
  style="
    background: linear-gradient(
      90deg,
      #000000 0%,
      #00000000 25%,
      #00000000 75%,
      #000000 100%
    );
  "
></div>

<script type="module">
  // globals
  const canvas = document.getElementById("waves");
  const ctx = canvas.getContext("2d");
  let width = 0;
  let height = 0;
  let waves = [];
  const fps = 50;

  // generator for wave
  const generator = ({
    // height of wave (in canvas pixels)
    height,
    // frequency of wave (in cycles per canvas width)
    frequency,
    // phase of wave (in degrees)
    phase,
    // length of wave (in horizontal canvas pixels)
    length,
    // speed of wave (in canvas pixels per sec)
    speed,
    // number of layers of wave
    layers,
    // time between emitting waves (in sec)
    interval,
    // wait before emitting first wave (in sec)
    delay,
  }) => ({
    // function to generate wave
    generate: () => {
      const gradient = ctx.createLinearGradient(0, 0, width, 0);
      gradient.addColorStop(0.3, "#e91e63");
      gradient.addColorStop(0.5, "#d500f9");
      gradient.addColorStop(0.7, "#2196f3");
      for (let layer = 0; layer < layers; layer++)
        waves.push({
          height,
          frequency,
          phase,
          length,
          speed,
          from: -length,
          layer: (layer + 1) / layers,
          gradient,
        });
    },
    // timing
    interval: interval * fps,
    delay: (delay + 1) * fps,
  });

  // wave generators
  const generators = [
    // medium waves
    generator({
      height: 8,
      frequency: 1.5,
      phase: 0,
      length: 200,
      speed: 120,
      layers: 5,
      interval: 6,
      delay: 0,
    }),
    generator({
      height: 8,
      frequency: 1.5,
      phase: 120,
      length: 200,
      speed: 120,
      layers: 4,
      interval: 3,
      delay: 0.5,
    }),
    generator({
      height: 8,
      frequency: 1.5,
      phase: 240,
      length: 200,
      speed: 120,
      layers: 3,
      interval: 3,
      delay: 1,
    }),

    // small waves
    generator({
      height: 15,
      frequency: 2,
      phase: 0,
      length: 100,
      speed: 240,
      layers: 1,
      interval: 5,
      delay: 3,
    }),
    generator({
      height: 15,
      frequency: 2,
      phase: 90,
      length: 100,
      speed: 240,
      layers: 1,
      interval: 5,
      delay: 4,
    }),
  ];

  // resize canvas
  const resize = () => {
    // get dimensions and scale
    const scale = window.devicePixelRatio;
    width = canvas.clientWidth;
    height = canvas.clientHeight;
    canvas.width = width * scale;
    canvas.height = height * scale;

    // scale and move view
    ctx.translate(0, (scale * height) / 2);
    ctx.scale(scale, scale);
  };
  window.addEventListener("load", resize);
  window.addEventListener("resize", resize);

  // math utils
  const cos = (degrees) => Math.cos((2 * Math.PI * degrees) / 360);

  // step generators
  let frameNumber = 0;
  const generate = () => {
    // if frame number multiple of interval (plus delay), generate wave
    for (const { generate, interval, delay } of generators)
      if ((frameNumber - delay) % interval === 0 && frameNumber >= delay)
        generate();

    // do it this way instead of individual setIntervals to avoid wave sync
    // issues, especially when browser tab not active/visible

    // tick frame
    frameNumber++;
  };

  // clear canvas for redrawing
  const clear = () => {
    ctx.save();
    ctx.resetTransform();
    ctx.clearRect(0, 0, canvas.width || 0, canvas.height || 0);
    ctx.restore();
  };

  // move and manage waves
  const move = () => {
    // move waves forward
    waves.forEach((wave) => (wave.from += wave.speed / fps));
    // delete waves past edges of canvas
    waves = waves.filter((wave) => wave.from < width);
  };

  // draw waves to canvas
  const draw = () =>
    waves.forEach(
      ({ height, frequency, phase, length, from, layer, gradient }) => {
        ctx.strokeStyle = gradient;
        ctx.lineWidth = 1;
        ctx.beginPath();
        for (let offset = 0; offset < length; offset += 5) {
          const x = from + offset;
          const amplitude = height + 20 * layer * Math.pow(1 - x / width, 1);
          const y = cos(360 * (x / width) * frequency + phase) * amplitude;
          offset === 0 ? ctx.moveTo(x, y) : ctx.lineTo(x, y);
        }
        ctx.stroke();
      }
    );

  // one frame
  const frame = () => {
    generate();
    clear();
    move();
    draw();
  };
  window.setInterval(frame, 1000 / fps);
</script>
