<div id="work_player" class="flex flex-col gap-5"></div>

<div
  class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5"
  role="tablist"
>
  {% for work in site.data.work %} {% assign src = "" %} {% if work.playlist %}
  {% capture src %}https://www.youtube.com/embed/videoseries?list={{
  work.playlist }}&autoplay=1{% endcapture %} {% elsif work.video %} {% capture
  src %}https://www.youtube.com/embed/{{ work.video }}?autoplay=1{% endcapture
  %} {% endif %} {% assign id = work.title | split: " " | join: "_" | downcase
  %}

  <template>
    <iframe
      class="w-full"
      style="aspect-ratio: 16 / 9; min-height: 200px"
      src="{{ src }}"
      allowfullscreen
      title="Video player"
      loading="lazy"
      role="tabpanel"
      data-fade
    ></iframe>
    <h4 class="text-lg font-medium" data-fade>{{ work.title }}</h4>
    <p class="grid gap-h-5" style="grid-template-columns: 80px 1fr" data-fade>
      <b>Credits</b>
      <span class="text-left">
        {% include markdownify.html content=work.credits %}
      </span>
      <b>Genre</b>
      <span class="text-left">
        {% include markdownify.html content=work.genre %}
      </span>
    </p>
    <p data-fade>{% include markdownify.html content=work.description %}</p>
    <div class="flex flex-wrap gap-5">
      {% for link in work.links %}
      <a href="{{ link.url }}" class="button" data-fade>
        <i class="{{ link.icon }}"></i>
        <span class="truncate">{{ link.text }}</span>
      </a>
      {% endfor %}
    </div>
  </template>

  <button
    id="work_button_{{ id }}"
    class="group relative overflow-hidden"
    onclick="selectWork(this, event)"
    data-fade
    role="tab"
    aria-controls="work_player"
    aria-label="{{ work.title }}"
  >
    <img src="{{ work.image }}" alt="" loading="lazy" />
    <div
      class="absolute inset-0 flex justify-center items-center p-5 bg-black text-white font-medium opacity-0 group-hover:opacity-100 transition-default duration-300"
    >
      {{ work.title }}
    </div>
  </button>
  {% endfor %}
</div>

<a class="button self-center" href="https://vincerubinetti.bandcamp.com/">
  <i class="fas fa-arrow-right"></i>
  <span>All the rest</span>
</a>

<script type="module">
  // get dom elements
  const player = document.getElementById("work_player");
  const gallery = player.nextElementSibling;
  const buttons = gallery.querySelectorAll("button");

  // show contents of template before button in player frame
  window.selectWork = (button, event) => {
    buttons.forEach((button) => button.setAttribute("aria-selected", false));

    // if user clicked
    if (event.isTrusted) {
      player.innerHTML = button.previousElementSibling.innerHTML;
      const options = { behavior: "smooth", block: "start" };
      player.closest("section").scrollIntoView(options);
    }
    // if javascript clicked
    else {
      player.innerHTML = button.previousElementSibling.innerHTML.replaceAll(
        "autoplay=1",
        ""
      );
    }

    player.setAttribute("aria-labelledby", button.id);
    button.setAttribute("aria-selected", true);
  };

  // select first work by default
  buttons[0].click();
</script>
