:root {
  --tiny: 0.85rem;
  --medium: 1rem;
  --large: 1.2rem;
  --xl: 1.5rem;

  --a: #e91e63;
  --b: #9c27b0;
  --c: #2196f3;
  --dark: #40404f;

  --rounded: 5px;
  --fast: 0.2s ease;
  --shadow: 1px 2px 10px #00000020;
  --shadow-inset: inset 1px 2px 5px #00000020;
  --big-shadow: 0 0 100px #9c27b080;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 14pt;
  color: var(--dark);
  line-height: 2;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  flex-grow: 1;
}

button {
  border-radius: var(--rounded);
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
  font: inherit;
  transition: var(--fast);
  transition-property: background, color, box-shadow, transform;
}

pre {
  font: inherit;
}

svg > path {
  fill: currentColor;
}

a {
  color: var(--a);
  transition: color var(--fast);
}

a:where(:hover, :focus) {
  color: black;
}
