:root {
  --tiny: 0.85rem;
  --medium: 1rem;
  --large: 1.2rem;
  --xl: 1.5rem;

  --primary: #e91e63;
  --primary-light: #ff80ab;
  --secondary: #9c27b0;
  --secondary-light: #ea80fc;
  --tertiary: #2196f3;
  --tertiary-light: #82b1ff;
  --gray: #40404f;

  --rounded: 5px;
  --fast: 0.35s ease;
  --shadow: 1px 2px 10px #00000020;
  --shadow-inset: inset 1px 1px 5px #00000010;
  --big-shadow: 2px 4px 20px #00000040;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  color: var(--gray);
  font-family: "Roboto";
  font-weight: 300;
  font-size: 14pt;
  letter-spacing: 0.25px;
  line-height: 2;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  flex-grow: 1;
}

p {
  margin: 0;
  text-align: justify;
}

a {
  color: var(--primary);
  transition: var(--fast);
  transition-property: color, opacity;
}

a:where(:hover, :focus) {
  color: var(--tertiary);
}

[data-draw="true"]:where(:hover, :focus) path {
  stroke-dasharray: var(--length);
  animation: draw 1s both;
}

@keyframes draw {
  0% {
    stroke-dashoffset: var(--length);
    stroke: var(--primary-light);
  }
  33% {
    stroke: var(--secondary-light);
  }
  66% {
    stroke: var(--tertiary-light);
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.tippy-box {
  max-width: min(90vw, 500px) !important;
  background: var(--gray) !important;
  border-radius: var(--rounded) !important;
  font-size: var(--tiny) !important;
  box-shadow: var(--big-shadow);
}

.tippy-content {
  padding: 15px 20px !important;
  line-height: 1.5em;
  max-height: 300px !important;
  overflow-y: auto;
}

.tippy-arrow {
  color: var(--gray) !important;
}

.tippy-box a {
  color: var(--primary-light);
}

.tippy-box a:where(:focus, :hover) {
  color: var(--tertiary-light);
}
