# DirectoryIndex index.html /listing.html
ErrorDocument 404 /404.html

RewriteEngine on
RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
RewriteCond %{HTTP_HOST} ^www\.vincentrubinetti\.com$ [OR]
RewriteCond %{HTTP_HOST} ^vincerubinetti\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.vincerubinetti\.com$
RewriteRule ^/?$ "https\:\/\/vincentrubinetti\.com\/" [R=301,L]

<IfModule mod_autoindex.c>
  IndexOptions FancyIndexing
  IndexOptions HTMLTable
  IndexOptions SuppressDescription
  HeaderName /listing-header.html
  IndexOptions NameWidth=*
  IndexOptions Charset=UTF-8
  AddIcon /icons/folder.svg ^^DIRECTORY^^
  AddIconByType /icons/mp3.svg audio/mpeg
  AddIconByType /icons/wav.svg audio/x-wav
  AddIconByType /icons/ogg.svg audio/ogg
  AddIconByType /icons/pdf.svg application/pdf
  AddIconByType /icons/midi.svg audio/midi
  AddIcon /icons/score.svg .sib .mscz
  DefaultIcon /icons/file.svg
</ifModule>
