@import "tailwindcss";
@import "../styles.css";

@theme {
  --width: --spacing(200);

  --color-light: oklch(97% 0.01 50);
  --color-mid: oklch(80% 0.15 240);
  --color-mid-dark: oklch(50% 0.15 240);

  --radius: 7.5px;
}

@layer components {
  a {
    @apply text-mid-dark;
  }

  .lucide-play,
  .lucide-pause {
    @apply fill-current stroke-0!;
  }
}

@utility button-dark {
  @apply relative inline-flex items-center justify-center gap-2 rounded p-4 font-sans text-current no-underline hover:bg-current/10;
}

@utility button {
  @apply relative inline-flex items-center justify-center gap-2 rounded bg-current/5 p-4 font-sans text-current no-underline hover:bg-current/10;
}
