@import "tailwindcss";
@import "../styles.css";

@theme {
  --width: 200;

  --color-light: oklch(98% 0 0);
  --color-mid: oklch(80% 0.15 240);
  --color-dark: oklch(50% 0.15 240);

  --radius: 7.5px;
}

@layer base {
  p a {
    @apply text-dark;
  }
}

@utility button-dark {
  @apply relative flex items-center justify-center gap-2 rounded p-4 font-sans leading-none hover:bg-current/10;
}

@utility button {
  @apply relative flex items-center justify-center gap-2 rounded bg-current/5 p-4 font-sans leading-none hover:bg-current/10;
}
