---
import Header from "../components/Header.vue";
import Layout from "../layouts/Layout.astro";
import Listen from "@/pages/home/Listen.vue";
---

<Layout title="Vincent Rubinetti | Composer, producer, and more">
  <Header client:idle />
  <main>
    <Listen client:idle />
  </main>
</Layout>
