---
import About from "@/home/About.vue";
import Background from "@/home/Background.vue";
import Contact from "@/home/Contact.vue";
import Extras from "@/home/Extras.vue";
import Follow from "@/home/Follow.vue";
import Footer from "@/home/Footer.vue";
import Highlights from "@/home/Highlights.vue";
import Listen from "@/home/Listen.vue";
import Title from "@/home/Title.vue";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Vincent Rubinetti"
  description="Composer, developer, more. Orchestral, electronic, and a wide variety of other styles."
>
  <header class="text-white">
    <Background
      client:only="vue"
      class="fixed inset-0 -z-10 size-full bg-black"
    />
    <Title />
    <Listen client:load />
  </header>
  <main>
    <Follow />
    <Highlights client:load />
    <About />
    <Extras client:load />
    <Contact client:load />
  </main>
  <Footer class="text-white" />
</Layout>
