---
import Background from "@/home/Background.vue";
import Listen from "@/home/Listen.vue";
import Title from "@/home/Title.vue";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Vincent Rubinetti"
  description="Composer for media. Orchestral, electronic, and a wide variety of other styles."
>
  <body>
    <header class="relative z-0 bg-zinc-900 text-white">
      <Background client:only class="absolute inset-0 size-full -z-10" />
      <Title />
      <Listen client:only />
    </header>
  </body>
</Layout>
