---
import Layout from "@/layouts/Layout.astro";
import Listen from "@/pages/home/Listen.vue";
import Title from "@/pages/home/Title.vue";
---

<Layout
  title="Vincent Rubinetti"
  description="Composer for media. Orchestral, electronic, and a wide variety of other styles."
>
  <body>
    <Title />
    <Listen client:only />
  </body>
</Layout>
