---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.vue";
---

<Layout title="Vincent Rubinetti | Composer, producer, and more">
  <main>
    <Header client:idle />
  </main>
</Layout>
