---
import Footer from "@/home/Footer.vue";
import Title from "@/home/Title.vue";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Studio"
  description="A look inside my music studio, gear, and workflow."
>
  <body>
    <header class="dark">
      <Title />
    </header>
    <main>
      <section></section>
    </main>
    <Footer />
  </body>
</Layout>
