---
import Footer from "@/home/Footer.vue";
import Title from "@/home/Title.vue";
import Layout from "@/layouts/Layout.astro";
// import BandcampHeader from "@/studio/BandcampHeader.vue";
import Studio_ from "@/studio/Studio.vue";
---

<Layout
  title="Studio"
  description="A look inside my music studio, gear, and workflow."
>
  <!-- <BandcampHeader client:only="vue"/> -->
  <header class="dark">
    <Title />
  </header>
  <main>
    <Studio_ />
  </main>
  <Footer />
</Layout>
