@import "tailwindcss";

@theme {
  --breakpoint-xs: 20rem;
  --breakpoint-sm: 30rem;
  --breakpoint-md: 40rem;
  --breakpoint-lg: 50rem;

  --font-sans: "Outfit", sans-serif;

  --color-link: color-mix(in srgb, currentColor, var(--color-sky-500) 50%);

  --shadow:
    0 3px 3px 0 color-mix(in srgb, currentColor, #0001 90%),
    0 1px 2px -1px color-mix(in srgb, currentColor, #0001 90%);
}

body {
  @apply flex min-h-screen flex-col;
}

header,
section,
footer {
  @apply relative z-0 flex flex-col items-center gap-8 overflow-hidden px-[max(--spacing(12),(100%---spacing(200))/2)] py-12;
}

@utility dark {
  @apply bg-zinc-900! text-white;
}

p {
  @apply leading-relaxed;
}

b {
  @apply font-semibold;
}

svg {
  @apply shrink-0 overflow-visible;
}

a:not(.button):not(.button-dark) {
  @apply text-link underline underline-offset-2 transition-colors hover:text-current;
}

button {
  @apply cursor-pointer;
}

@utility button-dark {
  @apply inline-flex items-center justify-center gap-2 rounded p-2 text-current transition-colors hover:bg-current/10;
}

@utility button {
  @apply inline-flex items-center justify-center gap-2 rounded bg-current/5 p-2 transition-colors hover:bg-current/10;
}

input,
textarea {
  @apply rounded border border-zinc-300 p-3 placeholder:text-zinc-500/50;
}

.lucide {
  @apply h-[1em] w-[unset];
}

.lucide-play,
.lucide-pause {
  @apply fill-current stroke-0!;
}
