@import "tailwindcss";

@theme {
  --breakpoint-xs: 20rem;
  --breakpoint-sm: 32rem;
  --breakpoint-md: 44rem;
  --breakpoint-lg: 56rem;
  --breakpoint-xl: 68rem;

  --width: --spacing(220);

  --font-serif: "Aleo Variable", serif;
  --font-sans: "Outfit Variable", sans-serif;

  --color-cream: hsl(30, 50%, 95%);
  --color-link: color-mix(in srgb, hsl(200, 100%, 50%), currentColor 35%);

  --radius: 7.5px;

  --animate-outline: draw-outline 0.5s linear both;

  @keyframes draw-outline {
    0% {
      opacity: 0;
      stroke-dashoffset: 1;
      stroke-dasharray: 0.25 0.75;
    }
    50% {
      opacity: 1;
      stroke-dashoffset: 0.5;
      stroke-dasharray: 0.25 0.75;
    }
    100% {
      opacity: 0;
      stroke-dashoffset: 0;
      stroke-dasharray: 0.25 0.75;
    }
  }
}

body {
  @apply flex min-h-dvh flex-col font-serif text-[105%] leading-none;
}

main {
  @apply grow;
}

header,
section,
footer {
  @apply max-xs:p-4 relative z-0 flex flex-col items-center gap-12 px-[max(--spacing(14),(100%-var(--width))/2)] py-14 max-xl:gap-12 max-xl:p-12 max-lg:gap-10 max-lg:p-10 max-md:gap-8 max-md:p-8 max-sm:gap-6 max-sm:p-6;
}

h1 {
  @apply font-sans text-2xl tracking-wider uppercase;
}

h2 {
  @apply font-sans text-2xl font-medium;
}

h3 {
  @apply font-sans text-xl;
}

p {
  @apply leading-loose;
}

ul,
ol {
  @apply flex flex-col gap-2 leading-relaxed;
}

hr {
  @apply h-px w-full border-0 bg-current/10;
}

svg {
  @apply shrink-0 overflow-visible;
}

a:not(.button):not(.button-dark) {
  @apply text-link underline underline-offset-2 transition-colors hover:text-current;
}

button {
  @apply cursor-pointer;
}

@utility button-dark {
  @apply relative inline-flex items-center justify-center gap-2 rounded p-4 font-sans text-current transition-all hover:bg-current/10;
}

@utility button {
  @apply relative inline-flex items-center justify-center gap-2 rounded bg-current/5 p-4 font-sans transition-all hover:bg-current/10;
}

input,
textarea {
  @apply rounded border border-current/25 bg-white p-3 placeholder:text-current/50;
}

.icon,
.lucide {
  @apply h-[1.15em] w-[unset];
}

.lucide-play,
.lucide-pause {
  @apply fill-current stroke-0!;
}
