@import "tailwindcss";

@theme {
  --breakpoint-xs: 20rem;
  --breakpoint-sm: 32rem;
  --breakpoint-md: 44rem;
  --breakpoint-lg: 56rem;
  --breakpoint-xl: 68rem;

  --font-serif: "Aleo Variable", serif;
  --font-sans: "Outfit Variable", sans-serif;
}

@layer components {
  body {
    @apply flex min-h-dvh flex-col font-serif text-[105%] leading-none;
  }

  main {
    @apply flex grow flex-col items-center;
  }

  header,
  section,
  footer {
    @apply relative z-0 flex w-full flex-col gap-12 px-[max(--spacing(14),(100%-var(--width))/2)] py-14 max-xl:gap-12 max-xl:p-12 max-lg:gap-10 max-lg:p-10 max-md:gap-8 max-md:p-8 max-sm:gap-6 max-sm:p-6;
  }

  h1,
  h2,
  h3 {
    @apply flex items-center gap-2 font-sans leading-none;
  }

  h1 {
    @apply text-2xl font-light tracking-widest uppercase;
  }

  h2 {
    @apply text-2xl font-normal tracking-wider uppercase;
  }

  h3 {
    @apply text-lg font-normal tracking-wide;
  }

  p {
    @apply leading-relaxed;
  }

  ul,
  ol {
    @apply flex list-['-'] flex-col pl-2 leading-relaxed;
  }

  li {
    @apply pl-2 marker:text-current/50;
  }

  hr {
    @apply h-px w-full border-0 bg-current/10;
  }

  svg {
    @apply shrink-0 overflow-visible;
  }

  a {
    @apply underline underline-offset-2 transition-all hover:text-current;
  }

  button,
  summary {
    @apply flex cursor-pointer items-center justify-center font-sans transition-all;
  }

  label {
    @apply flex cursor-pointer items-center justify-center gap-2 p-2 font-sans transition-all hover:bg-zinc-100;
  }

  input,
  textarea {
    @apply rounded border border-current/25 bg-white p-3 placeholder:text-current/50;
  }

  input[type="checkbox"] {
    @apply size-4;
  }

  details {
    @apply flex flex-col items-center;

    &::details-content {
      @apply flex h-0 flex-col gap-2 overflow-hidden transition-all transition-discrete duration-500;
      interpolate-size: allow-keywords;
    }

    &[open]::details-content {
      @apply h-auto;
    }
  }

  details[open] summary svg {
    @apply -scale-y-100;
  }

  .icon,
  .lucide {
    @apply inline-block h-[1em] w-[unset];
  }
}
