@import "tailwindcss";

@theme {
  --breakpoint-xs: 20rem;
  --breakpoint-sm: 32rem;
  --breakpoint-md: 44rem;
  --breakpoint-lg: 56rem;
  --breakpoint-xl: 68rem;

  --width: --spacing(220);

  --color-cream: hsl(30, 100%, 97%);
  --color-marine: hsl(200, 50%, 50%);

  --font-serif: "Aleo Variable", serif;
  --font-sans: "Outfit Variable", sans-serif;
}

@layer components {
  body {
    @apply flex min-h-dvh flex-col font-serif text-[105%] leading-none;
  }

  main {
    @apply flex grow flex-col items-center;
  }

  header,
  section,
  footer {
    @apply relative z-0 flex w-full flex-col items-center gap-12 px-[max(--spacing(14),(100%-var(--width))/2)] py-14 max-xl:gap-12 max-xl:p-12 max-lg:gap-10 max-lg:p-10 max-md:gap-8 max-md:p-8 max-sm:gap-6 max-sm:p-6;
  }

  h1 {
    @apply font-sans text-2xl tracking-wider uppercase;
  }

  h2 {
    @apply font-sans text-2xl font-medium;
  }

  h3 {
    @apply font-sans text-xl;
  }

  p {
    @apply leading-loose;
  }

  ul,
  ol {
    @apply flex flex-col gap-2 leading-relaxed;
  }

  hr {
    @apply h-px w-full border-0 bg-current/10;
  }

  svg {
    @apply shrink-0 overflow-visible;
  }

  a {
    @apply text-marine underline underline-offset-2 transition-colors hover:text-current;
  }

  button {
    @apply cursor-pointer;
  }

  input,
  textarea {
    @apply rounded border border-current/25 bg-white p-3 placeholder:text-current/50;
  }

  .icon,
  .lucide {
    @apply inline-block h-[1.15em] w-[unset];
  }
}
