@import "tailwindcss";

@theme {
  --breakpoint-xs: 20rem;
  --breakpoint-sm: 30rem;
  --breakpoint-md: 40rem;
  --breakpoint-lg: 50rem;
  --breakpoint-xl: 60rem;

  --width: --spacing(220);

  --font-serif: "Aleo Variable", serif;
  --font-sans: "Outfit Variable", sans-serif;

  --color-cream: hsl(30, 50%, 95%);
  --color-link: color-mix(in srgb, hsl(180, 100%, 50%), currentColor 50%);

  --radius: 7.5px;

  --animate-outline: draw-outline 0.5s linear both;

  @keyframes draw-outline {
    0% {
      opacity: 0;
      stroke-dashoffset: 1;
      stroke-dasharray: 0.25 0.75;
    }
    50% {
      opacity: 1;
      stroke-dashoffset: 0.5;
      stroke-dasharray: 0.25 0.75;
    }
    100% {
      opacity: 0;
      stroke-dashoffset: 0;
      stroke-dasharray: 0.25 0.75;
    }
  }
}

html {
  @apply text-[110%];
}

body {
  @apply flex min-h-dvh flex-col font-serif text-[105%] leading-none;
}

main {
  @apply grow;
}

header,
section,
footer {
  @apply relative z-0 flex flex-col items-center gap-12 px-[max(--spacing(16),(100%-var(--width))/2)] py-16;
}

@utility dark {
  @apply z-10! bg-black text-white;
}

h1 {
  @apply font-sans text-2xl tracking-wider uppercase;
}

h2 {
  @apply font-sans text-2xl font-medium;
}

h3 {
  @apply font-sans text-xl;
}

p {
  @apply leading-loose;
}

ul,
ol {
  @apply flex flex-col gap-2 leading-relaxed;
}

hr {
  @apply h-px w-full border-0 bg-current/10;
}

svg {
  @apply shrink-0 overflow-visible;
}

a:not(.button):not(.button-dark) {
  @apply text-link underline underline-offset-2 transition-colors hover:text-current;
}

button {
  @apply cursor-pointer;
}

@utility button-dark {
  @apply relative inline-flex items-center justify-center gap-2 rounded p-4 font-sans text-current transition-all hover:-translate-y-px hover:bg-current/10;
}

@utility button {
  @apply relative inline-flex items-center justify-center gap-2 rounded bg-current/5 p-4 font-sans transition-all hover:-translate-y-px hover:bg-current/10;
}

input,
textarea {
  @apply rounded border border-current/25 bg-white p-3 placeholder:text-current/50;
}

.lucide {
  @apply h-[1em] w-[unset];
}

.lucide-play,
.lucide-pause {
  @apply fill-current stroke-0!;
}
