@import "tailwindcss";

@theme {
  --breakpoint-xs: 20rem;
  --breakpoint-sm: 30rem;
  --breakpoint-md: 40rem;
  --breakpoint-lg: 50rem;

  --font-sans: "Outfit", sans-serif;
}

body {
  @apply flex min-h-screen flex-col;
}

section {
  @apply flex flex-col items-center gap-8 px-[max(--spacing(8),(100%---spacing(200))/2)] py-8;
}

svg {
  @apply shrink-0;
}

a {
  @apply text-sky-500 underline underline-offset-2 transition-all hover:text-current;
}

button,
.button {
  @apply inline-flex cursor-pointer items-center justify-center gap-2 p-2 text-current transition-all hover:bg-current/10;
}

.lucide {
  @apply h-[1em] w-[unset];
}

.lucide * {
  @apply [stroke-linecap:butt]! [stroke-linejoin:miter]!;
}

.lucide-play {
  @apply fill-current stroke-0;
}
