@import "tailwindcss";

@theme {
  --breakpoint-xs: 20rem;
  --breakpoint-sm: 30rem;
  --breakpoint-md: 40rem;
  --breakpoint-lg: 50rem;

  --font-sans: "Outfit", sans-serif;

  --color-link: color-mix(in srgb, currentColor, var(--color-sky-500) 50%);

  --animate-stroke: draw-stroke 1s linear both;

  @keyframes draw-stroke {
    0% {
      stroke-dasharray: 0.25 1.75;
      stroke-dashoffset: 1;
      opacity: 1;
    }
    50% {
      stroke-dasharray: 0.25 1.75;
      stroke-dashoffset: 0;
      opacity: 1;
    }
    100% {
      stroke-dasharray: 0.25 1.75;
      stroke-dashoffset: -1;
      opacity: 1;
    }
  }
}

body {
  @apply flex min-h-dvh flex-col;
}

main {
  @apply grow;
}

header,
section,
footer {
  @apply relative z-0 flex flex-col items-center gap-8 overflow-hidden px-[max(--spacing(12),(100%---spacing(200))/2)] py-12;
}

@utility dark {
  @apply bg-zinc-900! text-white;
}

p {
  @apply leading-relaxed;
}

b {
  @apply font-semibold;
}

svg {
  @apply shrink-0 overflow-visible;
}

a:not(.button):not(.button-dark) {
  @apply text-link underline underline-offset-2 transition-colors hover:text-current;
}

button {
  @apply cursor-pointer;
}

@utility button-dark {
  @apply inline-flex items-center justify-center gap-2 rounded p-2 text-current transition-colors hover:bg-current/10;
}

@utility button {
  @apply inline-flex items-center justify-center gap-2 rounded border border-current p-2 transition-colors hover:border-current hover:bg-current/10;
}

input,
textarea {
  @apply rounded border border-zinc-300 p-3 placeholder:text-zinc-500/50;
}

.lucide {
  @apply h-[1em] w-[unset];
}

.lucide-play,
.lucide-pause {
  @apply fill-current stroke-0!;
}
