@import "tailwindcss";

@theme {
  --breakpoint-xs: 20rem;
  --breakpoint-sm: 30rem;
  --breakpoint-md: 40rem;
  --breakpoint-lg: 50rem;

  --font-sans: "Outfit", sans-serif;

  --color-cream: hsl(30, 50%, 95%);
  --color-link: hsl(180, 90%, 35%);

  --radius: 7.5px;
}

body {
  @apply flex min-h-dvh flex-col;
}

main {
  @apply grow;
}

header,
section,
footer {
  @apply relative z-0 flex flex-col items-center gap-8 overflow-hidden px-[max(--spacing(12),(100%---spacing(200))/2)] py-12;
}

h1 {
  @apply text-2xl tracking-wider uppercase;
}

h2 {
  @apply text-xl font-medium;
}

h3 {
  @apply text-lg font-medium;
}

@utility dark {
  @apply bg-black text-white;
}

p {
  @apply leading-relaxed;
}

ul,
ol {
  @apply space-y-2;
}

hr {
  @apply w-full border-t-0 border-r-0 border-b border-l-0 border-current/10;
}

b {
  @apply font-medium;
}

svg {
  @apply shrink-0 overflow-visible;
}

a:not(.button):not(.button-dark) {
  @apply text-link underline underline-offset-2 transition-colors hover:text-current;
}

button {
  @apply cursor-pointer;
}

@utility button-dark {
  @apply inline-flex items-center justify-center gap-2 rounded p-2 text-current transition-colors hover:bg-current/10;
}

@utility button {
  @apply inline-flex items-center justify-center gap-2 rounded bg-current/5 p-2 transition-all hover:bg-current/10;
}

input,
textarea {
  @apply rounded border border-current/50 p-3 placeholder:text-current/50;
}

.lucide {
  @apply h-[1em] w-[unset];
}

.lucide-play,
.lucide-pause {
  @apply fill-current stroke-0!;
}
