* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  font-family: "Roboto";
  font-weight: 300;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  flex-grow: 1;
}
